header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 10%;
    transition: .3s;
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
    padding: 10px 27px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #000000;
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}